//META{"name":"Airo","description":"Theme for Airo","author":"Lapse","version":"latest"}*//

.app {
    background-image: url(https://imgur.com/4wJlwIP.jpg) !important;
    background-size: cover !important;
}
.layers, .layer { background: transparent !important;
}
.callout-backdrop {
    background-image: url(https://imgur.com/4wJlwIP.jpg) !important;
    background-size: cover !important;
}

body {
-webkit-backface-visibility: hidden;
}

 .theme-dark .chat{background: transparent;}

#rtc-connection {
    border-top: 1px solid rgba(255, 255, 255, 0.0);
}
#rtc-connection .btn,
.account .btn {
    border: none;
}
#rtc-connection,
#friends,
#friends .btn,
.friends-header,
.friends-table,
.search-bar,
.guilds-wrapper,
.channels-wrap,
.guild-channels,
.account,
.links,
.messages-wrapper,
.title-wrap,
.content,
.chat-empty,
.message-group-blocked,
.private-channels,
.guild-header header,
.typing,
.ider-red span {
    background: transparent !important;
}

.channel:not(.selected) {
    transition: background .3s ease-out !important;
}
.channel:not(.selected):hover {
    background: rgba(0, 0, 0, 0.0) !important;
    transition: background .2s ease-in !important;
}
.friends-row:hover,
.search-result:hover,
.btn-friends.selected,
.search-result.selected,
.channel.selected.private,
.channel.channel-text.selected {
    background: rgba(0, 0, 0, 0.0) !important;
}
.guild-channels .channel-text.selected {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)) !important;
}
.guild-channels .channel-text.selected:before,
.guild-channels .channel-text.selected:hover:before,
.guild-channels .channel-text:hover.channel-muted:before,
.guild-channels .channel-text:hover:not(.unread):before,
.private-channels .channel.selected:before,
.private-channels .channel:hover:before {
    border-left: 3px solid #00cccc;
}
.avatar-large.animate {
    border: 2px solid rgba(0, 204, 204, 0.6) !important;
    width: 40px;
    height: 40px;
}
